/* Auth.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lobster&family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to right, #00274D, #005385, #B0C4DE);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-title {
  font-size: 2rem;
  color: #fff;
  font-family: 'Lobster', cursive;
  margin-bottom: 20px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form label {
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
  color: #fff;
}

.auth-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.auth-form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.auth-form button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.error {
  color: red;
  margin-top: 10px;
}
